<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/data/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/data/css/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script src="/data/js/bootstrap.js">
    </script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Loginapp</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://localhost:8080/">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Links<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://localhost:8080/">Home</a></li>
            <li><a href="http://localhost:8080/users/login">Login</a></li>
            <li><a href="http://localhost:8080/users/register">Sign Up</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://localhost:8080/users/logout" target="_blank"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<br>
<div class="container-fluid">
  <h3>Dashboard .</h3>
<hr>
<div class="form-group" >
  <script src="/data/app/app.js">
  </script>
    <div class="input-group">
    <input type="text" class="form-control" placeholder="add something" id="getdata">
    <div class="input-group-btn">
      <button class="btn btn-default newbtn" type="submit" onclick="save()">
        <i class="glyphicon glyphicon-plus-sign"></i>
      </button>
    </div>
  </div>
</div>
  <ol>
    
  </ol>
</div>
<br>
<br>
<hr>
<footer class="footer">
    <div class="container-fluid">
        <p class="text-muted">2017 - Loginapp .</p>
    </div>
</footer>
</body>
</html>